body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.css-aap07l-MuiTypography-root {
  font-size: 3.75rem;
}
.css-1dyc527 {
  font-size: 3.75rem;
}
@media (max-width: 600px) {
  .css-1dyc527 {
    font-size: 1.5rem;
  }
  .css-aap07l-MuiTypography-root {
    font-size: 2.5rem;
  }
}
